@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: ubuntu, sans-serif;
  background-color: #f2f2f2;
}
/* style navbar */
.navbar{
  background-color: #1E90FF;
  margin: 0px auto;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.navbar ul{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.navbar a{
  text-decoration: none;
  color: #1e1d1d;
}
.navbar ul li{
  list-style: none;
  padding: 10px 20px;
}
.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 20px;
}
.navbar a .expanded{
  opacity: 1;
}
/* end style navbar */

/* style main */
.pop{
  padding: 10px 0px;
  margin: 10px;
}
.content1{
  width: 350px;
  height: auto;
  background-color: #1E90FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}
.content1 img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.perent{
  display: flex;
  gap: 20px;
}
/* end style main */

/* grid main */
.main-content{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
/* end grid main */

/* grid kanan */
.grid-kanan{
  margin: 20px;
  padding: 10px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tools-set{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: start;
}
.tools{
  display: flex;
  justify-content: start;
  align-items: center;
  gap : 10px;
  background-color: #1E90FF;
  padding: 10px;
  border-radius: 10px;
}
.tools svg{
  background-color: #f2f2f2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
}
@media screen and (max-width: 750px){
  .main-content{
    display: flex;
    flex-direction: column;
  }
  .content1{
    width: 100%;
  }
  .grid-kanan{
    width: 100%;
  }
  .navbar ul{
    gap: 10px;
  }
  .navbar ul li{
    width: 100%;
    justify-content: center;
  }
  .icon-button h2{
    display: none;
  }
  .navbar ul{
    margin: 0px auto;
   width: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .navbar a{
    display: none;
  }
  .navbar{
    width: 100%;
  }
  .perent{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
  }
  .grid-kanan{
    display: none;
  }
}
